.cornerImg {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* transition: translate 150ms;
    translate: -5vw; */
    width: 6%;
    user-select: none;
}

.cornerImg.help {
    width: 4%;
}

.tooltip {
    /* width: 10%; */
    /* position: relative; */
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: translate 150ms;
    translate: -5vw;
    pointer-events: none;
    margin: 1%;
}

.tooltip .cornerImg {
    pointer-events: auto;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: hsla(0, 0%, 20%, 0.26);
    color: hsla(0, 0%, 100%, 0.6);
    text-align: center;
    border-radius: 6px;
    margin: 1vw 1vw;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    font-weight: lighter;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}