#infoPanelButton {
    top: 0;
    position: absolute; 
    width: 2.5vh;
    margin: 1vh;
    opacity: .8;
    cursor: pointer;
    transition: opacity 150ms ease, transform 150ms ease;
    /* transform: rotate(90deg); */
}

#infoPanelButton:hover {
    opacity: 1;
}

#infoPanel {
    position: absolute;
    width: 50%;
    height: 90%;
    padding: 1%;
    margin: 1%;
    background: rgba(0,0,0, .5);
    border: solid 1px rgba(204, 204, 204, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1%;
    z-index: 100;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-left: -110%;
    transition: margin-left 400ms ease;
}

#infoPanel.checked {
    margin-left: 1%;
}

#infoPanel hr {
    height: 1px;
    background-color: rgba(204, 204, 204, 0.25);
    border: none;
    width: 100%;
}

#infoPanelHeader {
    flex: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#infoPanelTitleArea {
    display: flex;
    flex-direction: column;
}

#infoPanelTitleArea .title {
    font-weight: bold;
    font-size: 2rem;
}

#infoPanelTitleArea .subtitle {
    font-weight: lighter;
}

#infoPanelSubtextArea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1rem;
    padding-top: 1%;
}

#infoPanelSubtextArea .title {
    font-weight: lighter;
    font-size: .75rem;
}

#infoPanelSubtextArea .subtitle {
    font-weight: bold;
    font-size: 1rem;
}

#infoPanelMain {
    flex: 1;
}

#infoPanelFooter {
    --size: 0.8rem;
    flex: 0;
    padding-top: 1%;
    display: flex;
    font-size: var(--size);
    flex-direction: column;
    align-items: flex-end;
    line-height: var(--size);
}

#infoPanelFooter .coords {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

#infoPanelFooter .coord {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10%;
}

#infoPanelFooter .digit {
    font-weight: normal;
}

#infoPanelFooter .letter {
    font-size: .6rem;
    font-weight: lighter;
}


#infoPanelMain {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1% 0;
}

#infoPanel .year {
    font-weight: bold;
}

#infoPanelMain input {
    display: none;
}

#infoPanelMain .tab1,
#infoPanelMain .tab2,
#infoPanelMain .tab3,
#infoPanelMain .tab4 {
    padding: 1rem 0;
}

/* Tabs mit radio-Buttons */
#infoPanelMain figure {
    margin: 0;
    padding: 0;
}

#infoPanelMain>input,
#infoPanelMain figure>div {
    display: none;
}

#infoPanelMain figure>div {
    font-weight: lighter;
}

#tab1:checked~figure .tab1,
#tab2:checked~figure .tab2,
#tab3:checked~figure .tab3,
#tab4:checked~figure .tab4 {
    display: block;
}

#infoPanelMain nav {
    background-color: rgba(240, 248, 255, 0.033);
    padding-bottom: 1%;
    border-bottom: solid 1px rgba(240, 248, 255, 0.233);
}

#infoPanelMain nav label {
    border: solid 0px;
    border-radius: 12%;
    padding: .5%;
    border: solid 1px;
    margin-left: 1%;
    transition: border-color 200ms, background-color 400ms;
    border-color: rgba(255, 255, 255, 0.00);
    cursor: pointer;

}

#infoPanelMain nav label:nth-child(1) {
    margin-left: 0%;
}

#infoPanelMain nav label:hover {
    border-color: rgba(255, 255, 255, 0.25);
}

#infoPanelMain nav label:active {}

#tab1:checked~nav label[for="tab1"],
#tab2:checked~nav label[for="tab2"],
#tab3:checked~nav label[for="tab3"],
#tab4:checked~nav label[for="tab4"] {
    border-color: rgba(255, 255, 255, 0.00);
    background-color: rgba(255, 255, 255, 0.25);
}

#tab1:checked~nav label[for="tab1"]:after,
#tab2:checked~nav label[for="tab2"]:after,
#tab3:checked~nav label[for="tab3"]:after {}

#infoPanelMain .tab1,
#infoPanelMain .tab2,
#infoPanelMain .tab3 {}

/* Scrollbar crap */
#infoPanelMain::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px var(--gray-high); */
    /* border-radius: 1vh; */
    background-color: var(--gray);
}

#infoPanelMain::-webkit-scrollbar {
    width: .5vh;
    background-color: var(--gray);
}

#infoPanelMain::-webkit-scrollbar-thumb {
    border-radius: 2%;
    -webkit-box-shadow: inset 0 0 6px var(--gray);
    background-color: var(--gray-high);
}