:root {
    --scroll-width: 1vh;
}

#infoPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: -55vw;
    /* left: 0vw; */
    top: 50%;
    height: 85vh;
    transform: translateY(-50%);
    width: 50vw;
    padding: 0 1%;
    background-color: rgba(32, 33, 36, .75);
    backdrop-filter: blur(5px);
    transition: left 250ms ease-out;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    overflow-y: auto;
}

#infoPanel .title {
    display: flex;
    flex-direction: column;
    padding: 2rem 2% 1.5rem 2%;
    align-items: flex-start;
}

#infoPanel .title .main {
    font-size: 2rem;
    font-weight: bold;
}

#infoPanel .title .sub {
    font-size: .7rem;
    font-weight: lighter;
}

#infoPanel .content {
    flex: 1;
    height: 100%;
    /* min-height: 60%; */
    /* max-height: 60%; */
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: lighter;
    font-size: .8rem;
    /* padding: 0 1%; */
    gap: 1vw;
    display: flex;
    scroll-snap-type: x mandatory;
}

#infoPanel .content .timeline {
    scroll-snap-align: start;
    /* padding: 0 1%; */
}

#infoPanel .content .help {
    scroll-snap-align: end;
}

#infoPanel .content > * {
    flex: 0 0 100%;
    width: 100%;
}

#infoPanel .content .timeline .year {
    font-size: .9rem;
    font-weight: bold;
}

#infoPanel .content .help {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: stretch;
    /* height: 100%; */
    gap: 3vh;
}

#infoPanel .content code {
    max-width: 15vw;
    /* margin: 5%; */
}

#infoPanel .content span {
    width: 25vw;
    /* margin: 5%; */
}

#infoPanel .content .help .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2vh;
}

#infoPanel .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    margin: 3% 0;
}

#infoPanel .nav img {
    /* object-fit: cover; */
    padding: 1%;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    /* background-color: red; */
    transition: background-color 500ms;
    background-color: rgba(255, 255, 255, 0.0);
}

#infoPanel .nav img.hover {
    background-color: rgba(255, 255, 255, 0.12);
}

#infoPanel .nav img:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

/* Scrollbar crap */
#infoPanel .content::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px var(--gray-high); */
  /* border-radius: 1vh; */
  background-color: var(--gray);
}

#infoPanel .content::-webkit-scrollbar
{
  width: var(--scroll-width);
  background-color: var(--gray);
}

#infoPanel .content::-webkit-scrollbar-thumb
{
  border-radius: 2%;
  -webkit-box-shadow: inset 0 0 6px var(--gray);
  background-color: var(--gray-high);
}